@font-face {
  font-family: 'MyFont';
  src: url('./EF_Diary.ttf') format('woff');
  font-weight: 600;
  font-style: normal;
}
.hello {
  color: darkslategrey;
  font-size: 2rem;
  font-family: 'MyFont';
  background: no-repeat url('./icon.png');
}
